<div class="panel panel-default">
  <div class="panel-heading">
    <%= comment.commenter %>
    <%= link_to 'Delete Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right"%>
  </div>
  <div class="panel-body">
    <%= comment.body %>
  </div>
</div>