

<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.text_field :commenter,class: "form-control", placeholder: "Commenter" %>
  </p>
  <p>
    <%= f.text_area :body,class: "form-control", placeholder: "Comment" %>
  </p>
  <p>
    <%= f.button :submit, class: "btn btn-primary", value: "Comment" %>
  </p>
<% end %>