<%= tinymce %>
<%= form_for @article do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
        <% @article.errors.full_messages.each do |msg| %>
          <p class="text-danger" ><%= msg %></p>
        <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.text_field :title ,class: "form-control", placeholder: "Title"%>
  </div>
  <div class="form-group">
    <%= f.text_area :text,:class => "tinymce" %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: "btn btn-primary " %>
  </div>
 
<% end %>