<h1>Listing articles</h1>
 

<div class="row">
   <% @articles.each do |article| %>
    <div class="col-md-14 ">
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= article.title %><br>
          <small>
          <%= link_to article_path(article) do %>
            created <%= time_ago_in_words(article.created_at) %>
          <% end %>
          </small>
        </div>
        <div class="panel-body">
          <%= article.text.html_safe %>
        </div>
        <div class="panel-footer">
          <%= link_to 'Show', article_path(article) %> |
          <%= link_to 'Edit', edit_article_path(article) %> |
          <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
    </div>
    <% end %>
</div>

<%= link_to 'New article', new_article_path %>