<h1><%= @article.title %></h1>
 
<p>
  <%= @article.text.html_safe %>
</p>
<br><hr>
<h4>Comments</h4>
<%= render @article.comments %>
<hr>
<h4>Add a comment:</h4>
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>